extends ../layouts/member.pug

block content
    .container
        h2 Edit Poll

        form(id='poll-form' method='post' class='container')
            p
                span Name you poll:
                br/
                input(type='hidden' name='_id' value=poll._id)
                input(type='text' id='question' name='question' placeholder='What is your favorite color?' required value=poll.question)
            p.option-container
                span Options:
                each option in poll.options
                    br/
                    input(type='text' name='option[]' placeholder='Green' value=option.text disabled)
            br/
            .btn-container
                button(class='btn btn-add-option') More Option
            br/
            .btn-container
                button(type='submit' class='btn btn-save-poll') Save

block append scripts
    script(type='text/javascript', src='/controllers/pollController.client.js')
