extends ../layouts/member.pug

block content
    .container
        h2 My Polls
        if polls.length
            ul
                each poll in polls
                    li.poll-item
                        a(href='/polls/' + poll._id) #{poll.question}
                        a(href='/polls/' + poll._id + '/vote', class='btn btn-vote-poll') Vote
                        a(href='/polls/' + poll._id + '/share', class='btn btn-share-poll') Share
                        a(href='/polls/' + poll._id + '/edit', class='btn btn-edit-poll') Edit
                        button(class='btn btn-delete-poll', data-poll-id=poll._id) Delete
            .container
                .btn-container
                    a(href='/polls/new' class='btn btn-new-poll') New Poll
        else
            p
                | #{"You don't have any polls. "}
                a(href='/polls/new') Create one now?

block append scripts
    script(type='text/javascript', src='/controllers/pollController.client.js')
