extends ../layouts/member.pug

block content
    .container
        h2 My Poll

        .container
            if poll
                p
                    a(href='/polls/' + poll._id) #{poll.question}
                    a(href='/polls/' + poll._id + '/vote', class='btn btn-vote-poll') Vote
            else
                | #{'The poll does not exist. Back to '}
                a(href='/polls') my polls
                | .

        br/

        .container
            .btn-container
                a(href='/polls' class='btn btn-polls') My Polls
