extends ../layouts/member.pug

block content
    if poll
        h2 #{poll.question}
        .container
            p
                input(id='poll-url', type='text', value=webroot + '/polls/' + poll._id + '/vote')
                button(class='btn btn-copy-url', data-clipboard-target='#poll-url') Copy URL
            br/
            .addthis_inline_share_toolbox
        br/
        .container
            .btn-container
                a(href='/polls' class='btn btn-polls') My Polls
    else
        h2 My Poll
        .container
            p
                | #{'The poll does not exist. Back to '}
                a(href='/polls') my polls
                | .

block append scripts
    = '\n'
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js')
    = '\n'
    script(type='text/javascript').
        new Clipboard('.btn');
    = '\n'
    script(type='text/javascript', src='http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-586b43b034ee9763')