extends ../layouts/member.pug

block content
    if poll
        h2 #{poll.question}
        .container
            .btn-container
                //- a(href='/polls/' + poll._id) #{poll.question}
                a(href='/polls/' + poll._id + '/vote', class='btn btn-vote-poll') Vote
        .vote-chart
        br/
        .container
            .btn-container
                a(href='/polls' class='btn btn-polls') My Polls
    else
        h2 My Poll
        .container
            p
                | #{'The poll does not exist. Back to '}
                a(href='/polls') my polls
                | .

block append scripts
    = '\n'
    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
    = '\n'
    script(type='text/javascript', src='/public/js/chart.js/dist/Chart.min.js')
    = '\n'
    script(type='text/javascript', src='//code.highcharts.com/highcharts.js')
    = '\n'
    script(type='text/javascript').
        var poll = JSON.parse('!{pollJson}');
        //- console.log('poll = ', poll);
    = '\n'
    script(type='text/javascript', src='/controllers/pollChart.client.js')
