extends layout.pug

block content
    .container
        h2 My Polls
        if polls.length
            ul
                each poll in polls
                    li.poll-item
                        a(href='/polls/' + poll._id) #{poll.question}
                        button(class='btn btn-delete-poll', data-poll-id=poll._id) Delete
            .container
                .btn-container
                    a(href='/polls/new' class='btn btn-polls') New Poll
        else
            p
                | #{"You don't have any polls. "}
                a(href='/polls/new') Create one now?

block scripts
    script(src='/controllers/pollController.client.js')
